<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="mainModule">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" ng-controller="setActiveCtrl">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-click="setActive($event);" role="presentation"><a ng-href="#/">Home</a></li>
                    <li ng-click="setActive($event);" role="presentation"><a ng-href="#/AboutMe">About Me</a></li>
                    <li ng-click="setActive($event);" role="presentation"><a ng-href="#/Services">Work</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div ng-view class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-route")
    @Scripts.Render("~/bundles/angular-indexCtrl")
    @RenderSection("scripts", required: false)
</body>
</html>
